/*Archivo de estilos*/

body {
    margin: 0cm;
}

.cover {
    height: 400px;
    background-image:url(../prueba/multimedia/escuela.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: darken;
}